// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$main: #3DD6D0;


// 72E1D1 84DCC6 3DD6D0 h+ 71F79F 00FDDC 3BEFE6
// $main: #44BBA4; couleur initial de Benoit
// $main: #FFBA49; pastel orange
// $main: #3DD6D0; turquoise
// $main: EF5B5B sunset orange
// $main: CBEFB6 greenTEA
// $main: 177E89 METALLIC SEAWEED
