<div class="footer">
  <div class="footer-links">

    <a href="https://github.com/lolostas"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/lo%C3%AFc-stas-de-richelle-a14b273b/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="football">
    <h1> 1Café1Talent is a team challenge project from Le Wagon Lyon Bootcamp -batch#82 (Ben, Youss et Lo)</h1>
  </div>
</div>
